/** LIST
/** ================================ */

.button {

  -webkit-appearance: none;

  margin: 0;
  padding: 0 12px;
  border: none;
  overflow: visible;
  text-transform: none;
  display: inline-block;
  background:#fff;
  
  color:$base-font-color;

  vertical-align: middle;
  line-height: 30px;
  min-height: 30px;

  font-size: $base-font-size;

  text-decoration: none;
  text-align: center;
  cursor: pointer;

  @extend .depth1;
  
  @include vendor(box-sizing, border-box);
  @include border-radius($base-radius);
  @include transition(all .2s ease-in-out);

  &:hover {
    @extend .depth2;
    outline:none;
  }

  &:active {
    @extend .depth3;
  }

}


/* Button Rounded */
.button-rounded {
 @include border-radius($base-rounded-radius);
}

.button-unstyle {
 @include border-radius($base-rounded-radius);
}

/* Button Circle */ 
.button-circle {
  min-width:60px;
  min-height:60px;
  max-width:60px;
  max-height:60px;
  @include border-radius($base-circle-radius);

}