@if $use-flexbox == true {

/** Flexbox
/** ================================ */

	.flex {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

		-ms-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
	}

}