/** Grid System
/** ================================ */
body {
  min-width: 960px;
}

/* Containers
--------------------------------------------------------------------------------*/
.container-full
{
  margin-left: auto;
  margin-right: auto;
  width: 1188px;
}

/* Grid >> Global
--------------------------------------------------------------------------------*/
.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.push1, .pull1,
.push2, .pull2,
.push3, .pull3,
.push4, .pull4,
.push5, .pull5,
.push6, .pull6,
.push7, .pull7,
.push8, .pull8,
.push9, .pull9,
.push10, .pull10,
.push11, .pull11 {
  position: relative;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/
.alpha {margin-left: 0;}
.omega {margin-right: 0;}

/* Grid >> 12 Columns
--------------------------------------------------------------------------------*/
.container-full .col1 {width: 79px;}
.container-full .col2 {width: 178px;}
.container-full .col3 {width: 277px;}
.container-full .col4 {width: 376px;}
.container-full .col5 {width: 475px;}
.container-full .col6 {width: 574px;}
.container-full .col7 {width: 673px;}
.container-full .col8 {width: 772px;}
.container-full .col9 {width: 871px;}
.container-full .col10 {width: 970px;}
.container-full .col11 {width: 1069px;}
.container-full .col12 {width: 1168px;}

/* Prefix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container-full .prefix1 {padding-left: 99px;}
.container-full .prefix2 {padding-left: 198px;}
.container-full .prefix3 {padding-left: 297px;}
.container-full .prefix4 {padding-left: 396px;}
.container-full .prefix5 {padding-left: 495px;}
.container-full .prefix6 {padding-left: 594px;}
.container-full .prefix7 {padding-left: 693px;}
.container-full .prefix8 {padding-left: 792px;}
.container-full .prefix9 {padding-left: 891px;}
.container-full .prefix10 {padding-left: 990px;}
.container-full .prefix11 {padding-left: 1089px;}

/* Suffix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container-full .suffix1 {padding-right: 99px;}
.container-full .suffix2 {padding-right: 198px;}
.container-full .suffix3 {padding-right: 297px;}
.container-full .suffix4 {padding-right: 396px;}
.container-full .suffix5 {padding-right: 495px;}
.container-full .suffix6 {padding-right: 594px;}
.container-full .suffix7 {padding-right: 693px;}
.container-full .suffix8 {padding-right: 792px;}
.container-full .suffix9 {padding-right: 891px;}
.container-full .suffix10 {padding-right: 990px;}
.container-full .suffix11 {padding-right: 1089px;}

/* Push Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container-full .push1 {left: 99px;}
.container-full .push2 {left: 198px;}
.container-full .push3 {left: 297px;}
.container-full .push4 {left: 396px;}
.container-full .push5 {left: 495px;}
.container-full .push6 {left: 594px;}
.container-full .push7 {left: 693px;}
.container-full .push8 {left: 792px;}
.container-full .push9 {left: 891px;}
.container-full .push10 {left: 990px;}
.container-full .push11 {left: 1089px;}

/* Pull Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container-full .pull1 {left: -99px;}
.container-full .pull2 {left: -198px;}
.container-full .pull3 {left: -297px;}
.container-full .pull4 {left: -396px;}
.container-full .pull5 {left: -495px;}
.container-full .pull6 {left: -594px;}
.container-full .pull7 {left: -693px;}
.container-full .pull8 {left: -792px;}
.container-full .pull9 {left: -891px;}
.container-full .pull10 {left: -990px;}
.container-full .pull11 {left: -1089px;}

/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}


