/** HELPERS
/** ================================ */

/* Display Show/Hide */ 
.hide { display:none!important;visibility:hidden!important }
.show { display:block!important;visibility:visible!important }


/* Add remove floats */
.pull-right { float:right!important; }
.pull-left { float:left !important; }
.pull-none { float:none !important; }

/* Text Helpers */ 

/* Text alignment */
.text-left { text-align:left  !important; }
.text-center { text-align:center!important; }
.text-right { text-align:right !important; }

/* Text overflow */
.text-truncate { @include text-truncate; }

/* Font weight */
.weight-light { font-weight:300!important; }
.weight-normal { font-weight:400!important; }
.weight-semibold { font-weight:600!important; }

/* Font Smoothing */
.smooth-out { @include font-smoothing(off); }
.smooth-in { @include font-smoothing(on); }


/* Images Helpers */
img{
    max-width:100%;
    color: transparent;
	font-size: 0;
	vertical-align: middle;
    border:0;
	-ms-interpolation-mode: bicubic;
}

/* Image not responsive */
img[width],
img[height]{
    max-width:none;
}

/* Image Alignments */
.img-right{
    float:right;
    margin-bottom:$base-spacing-unit;
    margin-left:$base-spacing-unit;
}
.img-left{
    float:left;
    margin-right:$base-spacing-unit;
    margin-bottom:$base-spacing-unit;
}
.img-center{
    display:block;
    margin-right:auto;
    margin-bottom:$base-spacing-unit;
    margin-left:auto;
}

/* Reset block image */
figure {
    margin:0;
    img { display:block; }
}

/* Image Rounded */
.img-rounded { @include border-radius($base-rounded-radius); }

/* Image Circle */
.img-circle { @include border-radius($base-circle-radius); }

/* Indent buttons */
.button.indent {
    span {display:none;}
}

/* Help cursor */
.informative { cursor:help!important; }

/* Mute object */
.muted { @include opacity(0.5); }



