/** LIST
/** ================================ */

.button {
	height:50px;
	width:50px;
	float:left;
	background:#fff;
	@extend .indent;
}

.button-circle {

  @extend .depth1;
  @include border-radius(50%);
  @include transition(all .2s ease-in-out);

  &:hover {
  	@extend .depth2;
  }

  &:active {
  	@extend .depth3;
  }

}